<div class="container">
    <div class="row">
      <div class="col">
             <!-- <div class="row align-items-center g-lg-5 py-5"> -->
    
                <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" (ngSubmit)="descifrarMensaje(f)" #f="ngForm">
                    <h1 class="featurette-heading fw-normal lh-1 fw-light text-center">
                        Descifrador
                      </h1>
                      <hr>
                    <div class="form-floating mb-3">
                    <input
                      type="text"
                      name="mensaje"
                      [(ngModel)]="mensajeCifrado"
                      class="form-control"
                      id="floatingInput"
                    />
                    <label for="floatingInput">Mensaje</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input
                      type="number"
                      name="llave"
                      min="0" max="27"
                      [(ngModel)]="llave"
                      class="form-control"
                      id="floatingInput"
                    />
                    <label for="floatingInput">Modulo</label>
                  </div>
                  <button class="w-100 btn btn-lg btn-primary" type="submit">
                    Descifrar
                  </button>
                  <hr class="my-4" />
                </form>
              <!-- </div>       -->
             <!-- <div class="row align-items-center g-lg-5 py-5"> -->
    
                <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" (ngSubmit)="descifrarMensajeSinLlave(f)" #f="ngForm">
                    <h1 class="featurette-heading fw-normal lh-1 fw-light text-center">
                        Descifrador sin Modulo
                      </h1>
                      <hr>
                    <div class="form-floating mb-3">
                    <input
                      type="text"
                      name="mensaje"
                      [(ngModel)]="mensajeCifrado2"
                      class="form-control"
                      id="floatingInput"
                    />
                    <label for="floatingInput">Mensaje</label>
                  </div>
                 
                  <button class="w-100 btn btn-lg btn-primary" type="submit">
                    Descifrar
                  </button>
                  <hr class="my-4" />
                </form>
              <!-- </div>       -->
      </div>
      <div class="col">
        <h2 class="featurette-heading fw-normal lh-1 text-center">Mensaje descifrado</h2>
     <br>
        <p class="lead fs-3">{{mensajeDescifrado}}</p>
        <p class="lead fs-3">{{mejorDescifrado}}</p>
        <p class="lead fs-3">{{llavePosible}}</p>
      </div>
    </div>
  </div>